---
	import Layout from "../../layouts/Layout.astro";
	import { changeLanguage } from "i18next";
	import HeroBanner from "../../components/HeroBanner.astro";
	import Profile from "../../components/Profile.astro";
	import WorkExperience from "../../components/WorkExperience.astro";
	import AcademicBackground from "../../components/AcademicBackground.astro";
	import Skills from "../../components/Skills.astro";

	changeLanguage("en");
---

<Layout>
	<main class="h-full">
		<HeroBanner />
		<Profile />
		<Skills />
		<WorkExperience />
		<AcademicBackground />
	</main>
</Layout>

<script src="../../js/en_main.ts"></script>