---
import Button from "./Button.astro";

---

<div class="lg:container lg:mx-auto mt-16 xl:mt-24 px-8 md:px-12 xl:px-28 flex flex-col gap-16 xl:flex-row-reverse xl:items-center">
    <img
      src="https://parprev.com.br/wp-content/uploads/2024/07/foto-com-simbolo.png"
      alt="" class="mx-auto" style="max-height: 500px">

    <div class="flex flex-col gap-8 items-center xl:items-start text-center xl:text-left">
      <h1 class="text-4xl xl:text-5xl font-bold">
      Anything You May Need, Deliverd To You
        <span class="text-cyan-600 dark:text-cyan-400">Today</span>!
      </h1>

      <p class="md:text-xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sint eum, fuga eveniet cum quos blanditiis!
        Suscipit voluptas sunt dolores incidunt, quisquam voluptates vel fuga at neque, quibusdam quae dolorem?
      </p>
      <Button />
    </div>
  </div>