---
  import { t } from "i18next";
  import { Trans } from "astro-i18next/components";
---

<div class="relative lg:mx-auto my-16 items-center px-4 lg:px-0">
  <div class="w-full grid grid-cols-12 gap-6 md:gap-0">
    <div class="col-span-12 lg:col-span-3 z-20 ml-6 hidden lg:block">
      <div
        class="relative font-semibold pb-2 w-min after:absolute after:bottom-0 after:left-0 after:h-0.5 after:bg-dark dark:after:bg-light after:w-full">
        {t("workExperience.workExperienceTitle")}
      </div>
    </div>
    
    <div class="col-span-12 lg:col-span-9">
    <div
        class="relative font-semibold pb-2 w-full lg:hidden">
        {t("workExperience.workExperienceTitle")}
      </div>
      <div class="flex page-bottom">
        <div class=" flex flex-col gap-1 border-t-2 border-dark dark:border-light pt-6 pr-4" style="width: 150px">

          <div class="relative text-sm font-semibold whitespace-nowrap">
            {t("workExperience.workExperience1Period")}
          </div>


          <div class="text-xs font-thin flex flex-col gap-1">
            <p>{t("workExperience.workExperience1CompanyName")}</p>
            <div>
              <Trans i18nKey="workExperience.workExperience1CompanyAddress">
                <p>
                  Jacarepaguá,
                </p>
                <p>
                  RJ - Brasil
                </p>
              </Trans>
            </div>

          </div>
        </div>
        <div class="flex-1 flex flex-col border-t-2 border-primary dark:border-secondary pt-6 pl-4  gap-1">
          <div class="relative text-sm font-semibold whitespace-nowrap">
            {t("workExperience.workExperience1Position")}
          </div>

          <p class="text-sm font-thin">
            {t("workExperience.workExperience1Description")}
          </p>
        </div>

      </div>
      <div class="flex mt-4">
        <div class=" flex flex-col gap-1 pt-6 pr-4" style="width: 150px">

          <div class="relative text-sm font-semibold whitespace-nowrap">
            {t("workExperience.workExperience2Period")}
          </div>


          <div class="text-xs font-thin flex flex-col gap-1">
            <p>{t("workExperience.workExperience2CompanyName")}</p>
            <div>
              <Trans i18nKey="workExperience.workExperience2CompanyAddress">
                <p>
                  Jacarepaguá,
                </p>
                <p>
                  RJ - Brasil
                </p>
              </Trans>
            </div>

          </div>
        </div>
        <div class="flex-1 flex flex-col pt-6 pl-4 gap-1">
          <div class="relative text-sm font-semibold whitespace-nowrap">
            {t("workExperience.workExperience2Position")}
          </div>

          <p class="text-sm font-thin">
            {t("workExperience.workExperience2Description")}
          </p>
        </div>

      </div>
      <div class="flex mt-4">
        <div class=" flex flex-col gap-1 pt-6 pr-4" style="width: 150px">

          <div class="relative text-sm font-semibold whitespace-nowrap">
            {t("workExperience.workExperience3Period")}
          </div>


          <div class="text-xs font-thin flex flex-col gap-1">
            <p>{t("workExperience.workExperience3CompanyName")}</p>
            <div>
              <Trans i18nKey="workExperience.workExperience3CompanyAddress">
                <p>
                  Jacarepaguá,
                </p>
                <p>
                  RJ - Brasil
                </p>
              </Trans>
            </div>

          </div>
        </div>
        <div class="flex-1 flex flex-col pt-6 pl-4 gap-1">
          <div class="relative text-sm font-semibold whitespace-nowrap">
            {t("workExperience.workExperience3Position")}
          </div>

          <p class="text-sm font-thin">
            {t("workExperience.workExperience3Description")}
          </p>
        </div>

      </div>

      <div class="flex mt-4">
        <div class=" flex flex-col gap-1 pt-6 pr-4" style="width: 150px">

          <div class="relative text-sm font-semibold whitespace-nowrap">
            {t("workExperience.workExperience4Period")}
          </div>


          <div class="text-xs font-thin flex flex-col gap-1">
            <p>{t("workExperience.workExperience4CompanyName")}</p>
            <div>
              <Trans i18nKey="workExperience.workExperience4CompanyAddress">
                <p>
                  Jacarepaguá,
                </p>
                <p>
                  RJ - Brasil
                </p>
              </Trans>
            </div>

          </div>
        </div>
        <div class="flex-1 flex flex-col pt-6 pl-4 gap-1">
          <div class="relative text-sm font-semibold whitespace-nowrap">
            {t("workExperience.workExperience4Position")}
          </div>

          <p class="text-sm font-thin">
            {t("workExperience.workExperience4Description")}
          </p>
        </div>

      </div>

      <div class="flex mt-4">
        <div class=" flex flex-col gap-1 pt-6 pr-4" style="width: 150px">

          <div class="relative text-sm font-semibold whitespace-nowrap">
            {t("workExperience.workExperience5Period")}
          </div>


          <div class="text-xs font-thin flex flex-col gap-1">
            <p>{t("workExperience.workExperience5CompanyName")}</p>
            <div>
              <Trans i18nKey="workExperience.workExperience5CompanyAddress">
                <p>
                  Jacarepaguá,
                </p>
                <p>
                  RJ - Brasil
                </p>
              </Trans>
            </div>

          </div>
        </div>
        <div class="flex-1 flex flex-col pt-6 pl-4 gap-1">
          <div class="relative text-sm font-semibold whitespace-nowrap">
            {t("workExperience.workExperience5Position")}
          </div>

          <p class="text-sm font-thin">
            {t("workExperience.workExperience5Description")}
          </p>
        </div>

      </div>

      <div class="flex mt-4">
        <div class=" flex flex-col gap-1 pt-6 pr-4" style="width: 150px">

          <div class="relative text-sm font-semibold whitespace-nowrap">
            {t("workExperience.workExperience6Period")}
          </div>


          <div class="text-xs font-thin flex flex-col gap-1">
            <p>{t("workExperience.workExperience6CompanyName")}</p>
            <div>
              <Trans i18nKey="workExperience.workExperience6CompanyAddress">
                <p>
                  Jacarepaguá,
                </p>
                <p>
                  RJ - Brasil
                </p>
              </Trans>
            </div>

          </div>
        </div>
        <div class="flex-1 flex flex-col pt-6 pl-4 gap-1">
          <div class="relative text-sm font-semibold whitespace-nowrap">
            {t("workExperience.workExperience6Position")}
          </div>

          <p class="text-sm font-thin">
            {t("workExperience.workExperience6Description")}
          </p>
        </div>

      </div>
    </div>


  </div>

</div>